<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Cadastro</title>
    <link rel="stylesheet" href="../../public/assets/css/loginEcadastro.css">
</head>
<body>
    <div class="login">
        <div class="logo">

            <img src="../../public/assets/images/olx-104.png" alt="">

        </div>
        <div class="ori">
            <span>Acesse a sua conta</span>
        </div>
        <div class="form-login">
            <form id="myFormLog" action="http://localhost:2000/user/signin" method="post">
                <span>E-mail</span>
                <input type="email" name="email" id="input-email">
                <span>Senha</span>
                <input type="password" id="input-password">
                <input type="submit" id="input-submit" value="Continuar">
            </form>
        </div>
        <div class="linha-texto">
            <div class="line"></div>
            <div class="text">Ou conecte com</div>
            <div class="line"></div>
        </div>
        <div class="login-externo">
            <div class="google">
                <img src="../../public/assets/images/google_icon_146169.png" alt="">
            </div>
            <div class="face">
                <img src="../../public/assets/images/facebook-icone-bleu.png" alt="">
            </div>
        </div>
        <div class="linha-texto">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="link-cadastro">
            <span>Não tem uma conta?<a id="cadastre-se" href=""> Cadastre-se</a></span>
            <span>Preciso de ajuda ></span>
        </div>
    </div>

    <div class="cadastro">
        <div class="logo">

            <img src="../../public/assets/images/olx-104.png" alt="">

        </div>
        <div class="ori">
            <span>Crie a sua conta. É grátis!</span>
        </div>
        <div class="login-externo-cad">
            <div class="google">
                <img src="../../public/assets/images/google_icon_146169.png" alt="">
            </div>
            <div class="face">
                <img src="../../public/assets/images/facebook-icone-bleu.png" alt="">
            </div>
        </div>
        <div class="linha-texto-cad">
            <div class="line-cad"></div>
            <div class="text-cad">Ou</div>
            <div class="line-cad"></div>
        </div>
        <div class="form-cadastro">
            <form id="myFormCad" action="http://localhost:2000/user/signup" method="post">
                <span>Apelido</span>
                <input type="text" id="input-apelido"  name="name" placeholder="Exemplo: João S.">
                <span>E-mail</span>
                <input type="email" name="email" id="input-email-cad">
                <span>Senha</span>
                <input type="password" name="password" id="input-password-cad">
                <input type="submit" id="input-submit-cad" value="Cadastre-se">
            </form>
        </div>

        <div class="link-cadastro">
            <span>Já tem uma conta?<a id="entrar" href="#"> Entrar</a></span>
            <span>Preciso de ajuda ></span>
        </div>
    </div>


    <script src="../../public/assets/js/login.cadastro.js"></script>
</body>
</html>